/**
** @author loginboot.vicp.net
**
** @creator xiesw
** @version 1.0.0
** @date 2015-01-04
** @description 综合应用样式表
**
**/

*{margin:0px; padding: 0px}
body{font-size:12px;padding-bottom:35px;font-family:Arial,'微软雅黑', Helvetica, sans-serif;}
ul li{list-style: none;}

/**
** APPOS HEADER CSS
**/
.aps-index{width: 1000px;margin: 0 auto;margin-top: 15px;text-align: center;}
.aps-footer{position: fixed;left:0px;right:0px;bottom:0px;;line-height: 25px;text-align: center;border-top: 2px solid #57CF23;background: #fdfdfc;}
/***END HEADER CSS***/

/**
** APPOS MENU CSS
**/
.aps-header{background: #4A99FD url("img/menu_bg.png");position: relative;}
.aps-menu{color:#FFF; border-top-width: 1px; font-size: 12px;}
.aps-menu-li{display: inline-block;*display: inline;position: relative;border-left: 1px solid #CCC;margin-top: .5em;margin-bottom:.5em;padding: .3em;
margin-top: .3em\9;margin-top: .3em\11;margin-bottom:.3em\9;margin-bottom:.3em\10;}
.aps-menu-li i{margin-left: 2px;}
.aps-menu-li a{text-decoration: none;}
.aps-menu-home{margin-left: 160px;}
.aps-menu-sub{display: none;vertical-align: middle;border: 1px solid #94C0D2;box-shadow:-1px 1px 5px #EEE;padding: 0px;background-color: #FFF;}
.aps-menu-sub li {line-height: 20px;}
.aps-menu-sub li a{white-space: nowrap;padding: .1em .8em;display: block;color:#003F59;}
.aps-menu-li:HOVER .aps-menu-sub{display: block;position: absolute;z-index: 99999;left: -1px;*top:20px;}
.aps-menu-sub li a:HOVER,.aps-menu-li:HOVER{cursor: pointer;background: #57CF23 url("img/highlight.png");color:#003F59; }
.aps-menu-default{border-width: 0px;}
.aps-menu-default:HOVER{background: none;cursor: default;}
.aps-navbar{vertical-align: middle;}
.aps-btn-login,.aps-btn-setting{background-repeat: no-repeat;border: none;text-align: center;min-width: 75px;vertical-align:middle;
	line-height: 26px;display: inline-block;text-decoration: none;color: #fff;margin-top: -9px;margin-bottom: -6px;background-size: 100% 100%;}
.aps-btn-login{background-image: url("img/login_btn.png");}
.aps-btn-setting{background-image: url("img/setting_btn.png");}
/***END MENU CSS***/


/**
** LODIN CSS
**/
.aps-login{position: relative;min-height:400px;width: 600px;margin: 0 auto;margin-top: 30px;background-image: url("img/login_bg.jpg");
background-repeat: no-repeat;background-size: 100% 100%;border-radius: 2px; box-shadow: 1px 1px 10px #1C7703;
 }
.aps-login-body{position: fixed;top: 0px;left:0px;right:0px;bottom: 0px;z-index: -1;background-size: 100% 90px;
	background-image: url("img/login_body.gif");background-repeat: repeat-y;}
.aps-login-opa{position: absolute;width: 310px;height: 205px;top:165px;left:150px;border-radius: 5px;
	background-color: #efefef;opacity: 0.7;z-index: 15;}
.aps-login-form{position: absolute;top:165px;left:150px;padding: 20px;z-index: 25;}
.aps-login-form input[type='text'],.aps-login-form input[type='password']{height: 30px;border-radius: 4px;border: 1px solid #CCC;
	width: 265px;text-indent: 5px;color: #3399FF}
.aps-login-form input[type='checkbox']{vertical-align: middle;}
.aps-login-form p{color: #686868;line-height: 24px;}
.aps-login-form div{position: relative;}
.aps-login-action{text-align: right;}
.aps-login-btn{color: #686868;line-height:20px;padding: .2em;border: 1px solid #CDCDCD;border-radius:5px;
background: -webkit-linear-gradient(top,#bbb,#FDFDFD,#bbb);}
.aps-login-btn:hover{cursor: pointer;box-shadow: 1px 1px 10px #bbb;background: -webkit-linear-gradient(top,#eee,#FDFDFD,#eee);}
.aps-login label.error{position: absolute;left:15%;bottom:-25px;z-index: 888;}
.aps-login label.error i{left:45%;top:-5px;}
/**END LOGIN CSS**/

/**
** VALID CSS
**/
label.error{display:inline-block;position:relative;padding:0 .3em;margin-left:7px;;line-height: 20px;background-color: #942724;
border-radius:2px;color: #FFF; box-shadow: 3px 5px 10px #888;white-space:nowrap;}
label.error:hover{cursor: pointer;}
label.error i{display: inline-block;position: absolute;width: 9px;height: 9px;background-image: url("img/valid_bg.gif");
background-repeat: no-repeat;left:-5px;top:25%;}
/**END VALID CSS***/

/**
** KENDO CSS
**/
.k-state-selected{background-color: #98C617;background-image: none;}
.k-grid td,.k-widget,.k-grid-header-wrap,.k-pager-wrap .k-link{border-color: #007F00;}
.k-pager-wrap .k-link:hover{border-color: #98C617;}
.k-pager-wrap a.k-pager-refresh:hover{background-color: #98C617;}
.k-header.k-window-titlebar{background-color: #007F00;color:#fff;}
.k-widget .k-dropdown-wrap{border-color: #007F00;background-color: #FFF;}
.k-state-border-up{border-color: #007F00;background-color: #FFF;}
.k-state-border-up .k-state-focused{background-color: #007F00;border-color: #98C617;}
.k-state-border-up .k-state-hover{background-color: #98C617;border-color: #98C617;}
div.k-window,.k-window.k-state-focused{border-color:#007F00; }
.k-window a.k-state-hover{background-color: #6BD53C;border:none;}
.k-grid-pager span.k-i-arrow-w,.k-grid-pager span.k-i-seek-w,.k-grid-pager span.k-i-arrow-e,.k-grid-pager span.k-i-seek-e,
.k-grid-pager span.k-i-arrow-s,.k-grid-pager span.k-i-refresh{margin-top: 4px;}
.k-grid-header{background-color: #007F00;border-color:#007F00;}
.k-pager-wrap,th.k-header{background-color: #007F00;border-color:#007F00;color:#fff;}

/***END KENDO CSS***/

/**
** SEARCH CSS AND BARTOOLS AND LIST CSS
**/
.aps-search{line-height: 40px;background-image: url("img/search_bg.png");}
.aps-search form{float: right;margin-right: 2px;}
.aps-search form label{padding: 0 .5em;color:#007F00;}
.aps-arrow{display: inline-block;width: 9px;height: 9px;background-image: url("img/arrow.png");background-repeat: no-repeat;}
.aps-search strong{margin-left: 2px;color:#007F00;}
.aps-list{margin: 2px;}
.aps-barTools{padding:5px 2px;text-align: right;}

/**
** FORM CSS
**/
.aps-form{}
.aps-fieldset{border: 1px solid #95C37C;border-radius:4px;padding: .3em;color: #007F00;}
.aps-rows{margin-top: 5px;}
.aps-label{display: inline-block;width: 120px;text-align: right;color: #007F00;}
.aps-textbox{height: 22px;border-radius:4px;border: 1px solid #95C37C;text-indent: 5px;}
.aps-action{padding-left: 123px;margin-top: 5px;}
.aps-button{border-radius:4px;background-color: #EFEFEF;border:1px solid #98CC66;padding: .3em;color:#007F00;}
.aps-button:hover{cursor: pointer;background-color: #FFF;}
.aps-small{width:80px;}
.aps-normal{width:160px;}
.aps-larger{width:240px;}
.aps-largerx{width:320px;}
.aps-largerxx{width:420px;}
.aps-content{margin: 2px;}
.aps-window{width: 90%;margin:  0 auto;border: 1px solid #007F00;padding: .3em;box-shadow: 1px 1px 10px #60B62F;
border-radius:3px;margin-top: 10px;}
.aps-form-title{line-height: 30px;color:#FFF;background-color:#98C617;border-radius:3px;text-indent: 5px;}

.aps-roleMenu{margin-left: 123px;margin-top: -20px;}
.aps-roleMenu p{line-height: 30px;background-color: #007F00;color: #FFF;margin-top: 5px;text-indent: 5px;}
.aps-roleMenu input[type='checkbox']{vertical-align: middle;}
.aps-roleMenu-label{display: inline-block;width: 120px;}
.aps-roleMenu-table{width: 100%; color: #007F00;border-collapse: collapse;border-right: 1px solid #007F00;}
.aps-roleMenu-table thead th{background-color: #98C617; text-align: left;padding: .3em;color:#fff;border-left: 1px solid #007F00;}
.aps-roleMenu-trBottom td{border-bottom: 1px solid #007F00;background-color: #EEE;}
.aps-roleMenu-table tbody td{padding: .3em;border-left: 1px solid #007F00;}

